@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Survey App</h1>
    <p class="lead">Take your survey</p>
    <p><a href="http://www.google.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
   
</div>