

@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available Roles For Application</h2>

@Html.ActionLink("Create Role", "Create", "Role")

<style type="text/css">
    #tbrole, .c {
        border: double;
    }
</style>

<table class="table">
    <tr>
        <th>
            Role Name
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
               @item.Name
            </td>
        </tr>
    }
</table>


