

@{
    ViewBag.Title = "ConnectToAnalyst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Custom/web-sockets.js"></script>
<link href="~/Content/bootstarp-left-nav-tabs.css" rel="stylesheet" />
<div id="connectToAnalyst" ng-controller="connectToAnalystCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">connectToAnalyst</h2>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Survey Types
            </div>
            <div class="panel-body">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="sr-only">Email</label>
                        <p class="form-control-static">Select the analyst : </p>
                    </div>
                    <div class="form-group">
                        <select class="form-control" ng-options="u as u for u in usernames" ng-model="data.to"></select>
                    </div>
                    <button class="btn btn-success" ng-hide="connected || !data.to" ng-click="connect();connected = true;">Connect</button>
                    <button class="btn btn-danger" ng-show="connected" ng-click="disconnect();connected = false;">Disconnect</button>
                </div>
                <hr/>
                <div class="tabs-left">
                    <ul class="nav nav-tabs" id="surveyTypeTabs">
                        <li  ng-repeat="st in surveyTypes" ng-click="selected.surveyType = st" ng-class="{'active':st.AnalystSurveyTypeId == selected.surveyType.AnalystSurveyTypeId }"><a data-toggle="tab" href="#home">{{st.AnalystTypeName}}</a></li>
                    </ul>
                    <div class="tab-content col-xs-7 col-sm-7 col-md-9 col-lg-9">
                        <div id="home" class="tab-pane active" ng-repeat="st in surveyTypes" ng-show="st.AnalystSurveyTypeId == selected.surveyType.AnalystSurveyTypeId">
                            <div class="col">
                                <h3>{{st.AnalystTypeName}}</h3>
                                @*<textarea class="form-control" ng-model="analystSurveys[$index].Description" ng-change="change()" rows="3"></textarea>*@
                                <div class="panel panel-default">
                                    <div class="panel-heading">Description:</div>
                                    <div class="panel-body">
                                        {{analystSurveys[$index].Description}}
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">Response:</div>
                                    <div class="panel-body">
                                        {{analystSurveys[$index].Response}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="form-control" ng-click="saveAll()">Save All</button>
            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('connectToAnalystApp', []);
    app.controller('connectToAnalystCtrl', ['$scope', '$http', function ($scope, $http) {
        $scope.selected = {};
        $scope.analystSurveys = [];
        $scope.surveyTypes = [];
        $scope.usernames = [];
        $scope.ws = {};
        $scope.data = {
            selectedUser: 'All',
            from: '@User.Identity.Name',
            to: ''
        };
        var oldData = "";
        $scope.change = function () {
            var str = JSON.stringify($scope.analystSurveys);
            var changes = getChanges(oldData, str);
            $scope.ws.send(JSON.stringify(changes));
            oldData = str;
        };

        $http.get('@Url.Action("GetAllUsers")').then(function (res) {
            console.log(res);

            $scope.usernames = res.data;
        });

        $scope.connect = function () {
            $scope.ws = wsConnect($scope.data.from, $scope.data.to, function () {
                debugger;
                $scope.ws.onmessage = $scope.onmessage;
                $scope.ws.onclose = $scope.onclose;
            });
        };
        $scope.onmessage = function (evt) {
            debugger;
            var str = getOriginal(oldData, JSON.parse(evt.data));

            JSON.parse(str).forEach(function (e,index) {
                if ($scope.analystSurveys[index].Description != e.Description || $scope.analystSurveys[index].Response != e.Response)
                {
                    $($('#surveyTypeTabs').children()[index]).trigger('click');
                }
            });

            $scope.analystSurveys = JSON.parse(str);
            $scope.$apply();
            oldData = str;
        };
        $scope.onclose = function () {
            console.log("connection closed");
            $scope.connected = false;
        }
        $scope.disconnect = function () {
            $scope.ws.close();
            $scope.connected = false;
        }


        $http.post('@Url.Action("GetAllAnalystSurveyTypes")', { id: 1 }).then(function (res) {
            $scope.surveyTypes = res.data.surveyTypes;
            $scope.selected.surveyType = $scope.surveyTypes[0];
            $scope.surveyTypes.forEach(function (e) {
                var item = res.data.analystSurveys.filter(function (e) { return e.AnalystSurveyTypeId == st.AnalystSurveyTypeId; });
                if (item.length > 0) {
                    $scope.analystSurveys.push(item);
                }
                else {
                    $scope.analystSurveys.push({
                        AnalystSurveyTypeId: 99,
                        AnalystSurveyId: 999,
                        ClientId: 43,
                        Created: new Date(),
                        Description: "default Description",
                        InternalNotes: "default InternalNotes",
                        Response: "default Response"
                    });
                }
            });

            oldData = JSON.stringify($scope.surveyTypes);

        });
        $scope.saveAll = function () {
            $http.post('@Url.Action("SaveAnalystSurvey")', {}).then(function (res) {

            });
        };
    }]);
    angular.bootstrap($('#connectToAnalyst'), ['connectToAnalystApp']);
</script>