

@{
    ViewBag.Title = "ConnectToAnalyst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/angular-websocket.min.js"></script>
<script src="~/Scripts/Custom/web-sockets.js"></script>
<div id="connectToAnalyst" ng-controller="connectToAnalystCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">connectToAnalyst</h2>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Survey Types
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3">
                        <select class="form-control" ng-options="u as u for u in usernames" ng-model="data.selectedUser"></select>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-success" ng-click="connect()">Connect</button>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li ng-repeat="st in surveyTypes" ng-click="selected.surveyType = st" ng-class="{'active':st.AnalystSurveyTypeId == selected.surveyType.AnalystSurveyTypeId }"><a data-toggle="tab" href="#home">{{st.AnalystTypeName}}</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div ng-repeat="st in surveyTypes" ng-show="st.AnalystSurveyTypeId == selected.surveyType.AnalystSurveyTypeId">
                            <h3>{{st.AnalystTypeName}}</h3>
                            <br />
                            <div class="form-group">
                                <label for="comment">Description:</label>
                                <textarea class="form-control" ng-model="analystSurveys[$index].Description" ng-change="change()" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="comment">Response:</label>
                                <textarea class="form-control" ng-model="analystSurveys[$index].Response" ng-change="change()" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="comment">Internal Notes:</label>
                                <textarea class="form-control" ng-model="analystSurveys[$index].InternalNotes" ng-change="change()" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="form-control" ng-click="saveAll()">Save All</button>
                <span> {{ data.test }} </span>
            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('connectToAnalystApp', []);
    app.controller('connectToAnalystCtrl', ['$scope', '$http', function ($scope, $http) {
        $scope.selected = {};
        $scope.analystSurveys = [];
        $scope.surveyTypes = [];
        $scope.usernames = [];
        $scope.ws = {};
        $scope.data = {
            selectedUser: 'All'
        };
        $scope.change = function () {
            var str = JSON.stringify($scope.analystSurveys);
            $scope.ws.send(str);
        };

        $http.get('@Url.Action("GetAllUsers")').then(function (res) {
            console.log(res);
            $scope.usernames = res.data;
        });

        $scope.connect = function () {
            $scope.ws = wsConnect('client', 'analyst', function () {
                debugger;
                $scope.ws.onmessage = $scope.onmessage;
                $scope.ws.onclose = $scope.onclose;
            });
        };
        $scope.onmessage = function (evt) {
            debugger;
            $scope.analystSurveys = JSON.parse(evt.data);
            $scope.$apply();
        };
        $scope.onclose = function () {
            console.log("connection closed");
        }


        $http.post('@Url.Action("GetAllAnalystSurveyTypes")', { id: 1 }).then(function (res) {
            $scope.surveyTypes = res.data.surveyTypes;
            $scope.selected.surveyType = $scope.surveyTypes[0];

            $scope.surveyTypes.forEach(function (e) {
                var item = res.data.analystSurveys.filter(function (e) { return e.AnalystSurveyTypeId == st.AnalystSurveyTypeId; });
                if (item.length > 0) {
                    $scope.analystSurveys.push(item);
                }
                else {
                    $scope.analystSurveys.push({
                        AnalystSurveyTypeId: 99,
                        AnalystSurveyId: 999,
                        ClientId: 43,
                        Created: new Date(),
                        Description: "default Description",
                        InternalNotes: "default InternalNotes",
                        Response: "default Response"
                    });
                }
            });

            oldString = JSON.stringify($scope.surveyTypes);

        });
        $scope.saveAll = function () {
            $http.post('@Url.Action("SaveAnalystSurvey")', {}).then(function (res) {

            });
        };
    }]);
    angular.bootstrap($('#connectToAnalyst'), ['connectToAnalystApp']);
</script>


