
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Custom/web-sockets.js"></script>
<link href="~/Content/bootstarp-left-nav-tabs.css" rel="stylesheet" />
<div id="analyst" ng-controller="analystCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Clients module responses</h2>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Connected clients
            </div>

            <div class="panel-body">
                @if (((Dictionary<long, string>)ViewBag.clients).Count == 0)
                {
                   <h4>No Clients connected!</h4>
                }
                <div class="list-group">
                    @foreach (var item in (Dictionary<long, string>)ViewBag.clients)
                    {
                        <a href='@Url.Action("ClientModuleResponse",new { client = item.Key })' class="list-group-item">@item.Value</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('analystApp', []);
    app.controller('analystCtrl', ['$scope', '$http', function ($scope, $http) {


    }]);
    angular.bootstrap($('#analyst'), ['analystApp']);
</script>
